{{{header}}}

<div style="color: #006572;" class="body">
    {{!-- <img width="1px" height="1px" src="{{trackingPixel}}" alt="Read ?" /> --}}

    <div style="width: 100%;" class="first-paragraph">
        <h3 style="text-align: center;">
            Bonjour
            {{firstname}}
            !
        </h3>
        <p style="text-align: center;">Un compte a été créé pour vous sur Posware Transactions.</p>
        <p style="text-align: center;">Vous pourrez y accéder dès à présent avec les identifiants ci-dessous :</p>
        <p style="text-align: center;"><small>(Vous pourrez changer de mot de passe en utilisant la fonctionnalité "Mot
                de passe oublié*")</small></p>
        <div>
            <div>
                <div style="width: 100%; height: 1rem"></div>
                <p style="text-align: center; font-size: 1rem;">Email </p>
                <p style="text-align: center; font-size: 1.3rem; font-weight: bold;">{{email}}</p>
                <div style="width: 100%; height: 1rem"></div>

                <p style="text-align: center; font-size: 1rem;">Mot de passe
                </p>
                <p style="text-align: center; font-size: 1.3rem; font-weight: bold;">{{password}}</p>

                <div style="width: 100%; height: 1rem"></div>
                <div style="margin: 0 auto; text-align: center">
                    <a style="background-color: #00A8BF; color: white; text-decoration: none; padding: 1rem; border-radius: 20px"
                        href="{{siteUrl}}">
                        Accéder au site
                    </a>
                </div>
            </div>
            <div style="padding: 1rem 0 ;"></div>
        </div>
    </div>
</div>
{{{footer}}}